/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

.m-0 {
    margin: 0 !important;
}
.m-1 {
    margin: 0.25rem !important;
}
.m-2 {
    margin: 0.5rem !important;
}
.m-3 {
    margin: 1rem !important;
}
.m-4 {
    margin: 2rem !important;
}
.m-auto {
    margin: auto !important;
}


.mt-0 {
    margin-top: 0 !important;
}
.mt-1 {
    margin-top: 0.25rem !important;
}
.mt-2 {
    margin-top: 0.5rem !important;
}
.mt-3 {
    margin-top: 1rem !important;
}
.mt-4 {
    margin-top: 2rem !important;
}
.mr-auto {
    margin-right: auto !important;
}


.mb-0 {
    margin-bottom: 0 !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.mb-4 {
    margin-bottom: 2rem !important;
}
.mb-auto {
    margin-bottom: auto !important;
}


.ml-0 {
    margin-left: 0 !important;
}
.ml-1 {
    margin-left: 0.25rem !important;
}
.ml-2 {
    margin-left: 0.5rem !important;
}
.ml-3 {
    margin-left: 1rem !important;
}
.ml-4 {
    margin-left: 2rem !important;
}
.ml-auto {
    margin-left: auto !important;
}


.mr-0 {
     margin-right: 0 !important;
}
.mr-1 {
    margin-right: 0.25rem !important;
}
.mr-2 {
    margin-right: 0.5rem !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.mr-4 {
    margin-right: 2rem !important;
}
.mr-auto {
    margin-right: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}
.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.my-4 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}
.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}
.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.mx-4 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.pointer {
    cursor: pointer;
}

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100% !important;
}

.h-rem-35{
  height: 35rem;
}

.t-0 {
  top: 0 !important;
}

.room-select {
    width: 80% !important;
}

@media only screen and (min-width: 601px) {
    .input-button {
        width: 80% !important;
    }
}

@media only screen and (max-width: 600px) {
    .input-button {
        width: 60% !important;
    }

    .card-content {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
